 .table th {
  font-family: Arial, sans-serif;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #4F4F4F;
}

.table td {
  font-family: Arial, sans-serif;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #4F4F4F;
}