 .table th {
  font-family: 'Kumbh Sans', sans-serif !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #4F4F4F;
}

.table td {
  font-family: 'Kumbh Sans', sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #4F4F4F;
}