.header
{
    background-color: var(--primary-light);
}
.header-left{
   width:90px;
   height:90px; 
}
.divider{
    width:2px;
    height:90px;
}
.form{
    margin-top:-40px;
}
h2{
    font-weight: 500;
    font-size: larger;
}
.input-box::placeholder,
.input-box select {
  font-family: Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 100% !important;
  letter-spacing: 0% !important;
  color: #535353 !important;

}
select{
  color: #8A8A8A;
}
option{
  color:#8A8A8A
}
.input-box {
  height: 42px !important;
  border-radius: 4px !important;
  border: 0.5px solid #d1d5db !important;
  /* padding: 16px !important; */
  gap: 11px !important;
  font-family: Arial, sans-serif;
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  color: #8A8A8A !important;
}
 .table th {
  font-family: Arial, sans-serif;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.table td {
  font-family: Arial, sans-serif;
  font-size: 12px !important;
  font-weight: 500 !important;
}
.submit-btn {
  background: #438c71 !important;
  padding: 8px 16px;
  color: white !important;
}
button{
  background: #438c71 !important;
}