.header {
  background-color: #dcefe6;
}

.header-left {
  width: 90px;
  height: 90px;
}

.divider {
  width: 2px;
  height: 90px;
}

.form {
  margin-top: -40px;
}

.upload-btn {
  background-color: #438c71;
}

.upload-btn:hover {
  background-color: #26745f;
}

button {
  background-color: #438c71;
  color: white;
  border: none;
}

button:hover {
  background-color: #26745f;
}

textarea {
  border: 0.5px solid #d1d5db !important;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 10px rgba(89, 177, 236, 0.25) !important;
}