<div class="sidebar d-flex flex-column px-3 py-3 overflow-y-auto">

  <!-- LOGO -->
  <div class="logo-section text-center mb-3">
    <div class="logo mx-auto rounded-circle bg-white d-flex align-items-center justify-content-center overflow-hidden">
      <img src="https://desidea.com/Content/images/logo_new.png" class="img-fluid">
    </div>
    <p class="mt-3 mb-0 fw-medium fs-6">
      Eduaide
    </p>
  </div>

  <hr class="border border-light border-2 opacity-50">

  <ul class="menu list-unstyled flex-grow-1">

    <!-- DASHBOARD -->
    <li class="d-flex align-items-center gap-3 rounded p-1 mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-house fs-5"></i>
      <a routerLink="/home" class="text-decoration-none flex-grow-1">
        Dashboard
      </a>
    </li>

    <!-- TEACHERS -->
    <li *ngIf="(schoolFeaturesEnabled && role === 'school') || role === 'teacher'" class="mb-2">
      <button class="btn w-100 d-flex align-items-center justify-content-between p-1 menu-item"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#teachersMenu">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-mortarboard-fill fs-5"></i>
          <span>Teachers</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </button>
      <div class="collapse show submenu-box" id="teachersMenu">
        <a routerLink="/home/teachers"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          All Teachers
        </a>
        <a routerLink="/home/teachers/add"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block" *ngIf="schoolFeaturesEnabled && role === 'school'">
          Add Teacher
        </a>
      </div>
    </li>

    <!-- Employees -->
    <li *ngIf="role === 'office'" class="mb-2">
      <button class="btn w-100 d-flex align-items-center justify-content-between p-1 menu-item"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#employeeMenu">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-mortarboard-fill fs-5"></i>
          <span>Employee</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </button>
      <div class="collapse show submenu-box" id="employeeMenu">
        <a routerLink="/home/employee"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          All Employee
        </a>
        <a routerLink="/home/add-employee"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block" *ngIf="role === 'office'">
          Add Employee
        </a>
      </div>
    </li>

    <!-- MANAGERS -->
    <li *ngIf="isOfficeRole"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-kanban fs-5"></i>
      <a routerLink="/home/managers" class="text-decoration-none flex-grow-1">
        Managers
      </a>
    </li>

    <!-- STUDENTS -->
    <li *ngIf="(schoolFeaturesEnabled && role === 'school') || role === 'teacher' || role === 'student'" class="mb-2">
      <button class="btn w-100 d-flex align-items-center justify-content-between p-1 menu-item"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#studentsMenu">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-people-fill fs-5"></i>
          <span>Students / Classes</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </button>
      <div class="collapse show submenu-box" id="studentsMenu">
        <a routerLink="/home/students"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          All Students
        </a>
        <a routerLink="/home/students/addstudent" 
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block" *ngIf="schoolFeaturesEnabled && role === 'school'">
          Add Student
        </a>
        <a routerLink="/home/students/class"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          Class
        </a>
      </div>
    </li>

    <!-- STAFF -->
    <li *ngIf="(schoolFeaturesEnabled && role === 'school') || role === 'staff'" class="mb-2">
      <button class="btn w-100 d-flex align-items-center justify-content-between p-1 menu-item"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#staffMenu">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-person-badge-fill fs-5"></i>
          <span>Staff</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </button>
      <div class="collapse show submenu-box" id="staffMenu">
        <a routerLink="/home/staff"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          All Staff
        </a>
        <a routerLink="/home/addstaff"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block" *ngIf="schoolFeaturesEnabled && role === 'school'">
          Add Staff
        </a>
      </div>
    </li>

    <!-- ADMIN -->
    <li *ngIf="role === 'SuperAdmin'" class="mb-2">
      <button class="btn w-100 d-flex align-items-center justify-content-between p-1 menu-item"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#AdminMenu">
        <div class="d-flex align-items-center gap-3">
          <i class="bi bi-person-badge-fill fs-5"></i>
          <span>Admin</span>
        </div>
        <i class="bi bi-chevron-down small"></i>
      </button>
      <div class="collapse show submenu-box" id="AdminMenu">
        <a routerLink="/home/admin"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          All Admins
        </a>
        <a routerLink="/home/admin/addadmin"
           routerLinkActive="active-submenu"
           [routerLinkActiveOptions]="{ exact: true }"
           class="submenu-item d-block">
          Add Admin
        </a>
      </div>
    </li>

    <!-- TIMETABLE -->
    <li class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item" 
        *ngIf="role === 'schooladmin' || role === 'teacher' || role === 'student' || role === 'staff'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-calendar3 fs-5"></i>
      <a routerLink="/home/timetable" class="text-decoration-none flex-grow-1">
        Timetable
      </a>
    </li>

    <!-- LEAVES -->
    <li class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-calendar3 fs-5"></i>
      <a routerLink="/home/leaves" class="text-decoration-none flex-grow-1">
        Leaves
      </a>
    </li>

    <!-- HOMEWORK -->
    <li class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item" 
        *ngIf="role === 'schooladmin' || role === 'teacher' || role === 'student'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-journal-text fs-5"></i>
      <a routerLink="/home/homework" class="text-decoration-none flex-grow-1">
        Homework
      </a>
    </li>

    <!-- SALARY -->
    <li class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-credit-card fs-5"></i>
      <a routerLink="/home/salary" class="text-decoration-none flex-grow-1">
        Salary
      </a>
    </li>

    <!-- PROJECTS -->
    <li *ngIf="isOfficeRole"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-kanban fs-5"></i>
      <a routerLink="/home/projects" class="text-decoration-none flex-grow-1">
        Projects
      </a>
    </li>

    <!-- REVIEWS -->
    <li *ngIf="isOfficeRole"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-star-fill fs-5"></i>
      <a routerLink="/home/Reviews" class="text-decoration-none flex-grow-1">
        Reviews
      </a>
    </li>

    <!-- BILLING -->
    <li *ngIf="schoolFeaturesEnabled && role === 'school'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-credit-card fs-5"></i>
      <a routerLink="/home/billing" class="text-decoration-none flex-grow-1">
        Billing
      </a>
    </li>

    <!-- HOLIDAYS -->
    <li *ngIf="(schoolFeaturesEnabled && role === 'school') || role === 'teacher' || role === 'student' || role === 'staff'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-calendar-check fs-5"></i>
      <a routerLink="/home/holidays" class="text-decoration-none flex-grow-1">
        Holidays
      </a>
    </li>

    <!-- CALENDAR -->
    <li *ngIf="isOfficeRole"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-calendar-check fs-5"></i>
      <a routerLink="/home/calender" class="text-decoration-none flex-grow-1">
        Calendar
      </a>
    </li>

    <!-- TIMESHEET -->
    <li *ngIf="isOfficeRole"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-calendar-check fs-5"></i>
      <a routerLink="/home/timesheet" class="text-decoration-none flex-grow-1">
        TimeSheet
      </a>
    </li>

    <!-- EXAMS -->
    <li *ngIf="(schoolFeaturesEnabled && role === 'school') || role === 'teacher' || role === 'student'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-file-text fs-5"></i>
      <a routerLink="/home/exams" class="text-decoration-none flex-grow-1">
        Exams
      </a>
    </li>

    <!-- HOSTEL / DAY SCHOLAR -->
    <li *ngIf="schoolFeaturesEnabled && role === 'school'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-house fs-5"></i>
      <a routerLink="/home/hostel-dayscholar" class="text-decoration-none flex-grow-1">
        Hostel / Dayscholar
      </a>
    </li>

    <!-- TRANSPORT -->
    <li *ngIf="schoolFeaturesEnabled && role === 'school'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-bus-front"></i>
      <a routerLink="/home/transport" class="text-decoration-none flex-grow-1">
        Transport
      </a>
    </li>

    <!-- NOTIFICATIONS -->
    <li *ngIf="role !== 'SuperAdmin'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-bell"></i>
      <a routerLink="/home/notification" class="text-decoration-none flex-grow-1">
        Notifications
      </a>
    </li>

    <!-- SETTINGS -->
    <li *ngIf="schoolFeaturesEnabled && role === 'school'"
        class="d-flex align-items-center gap-3 p-1 rounded mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-gear fs-5"></i>
      <a routerLink="/home/settings" class="text-decoration-none flex-grow-1">
        Settings & Profile
      </a>
    </li>

    <!-- LOGOUT -->
    <li class="d-flex align-items-center gap-3 rounded p-1 mb-3 menu-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-box-arrow-right fs-5"></i>
      <a routerLink="" class="text-decoration-none flex-grow-1">
        Logout
      </a>
    </li>

  </ul>
</div>