<div class="layout">

  <!-- MOBILE/TABLET TOPBAR -->
  <div class="mobile-topbar d-lg-none">

    <button
      class="menu-btn"
      type="button"
      (click)="isSidebarOpen = !isSidebarOpen"
    >
      <i class="bi bi-list"></i>
    </button>

  </div>

  <!-- SIDEBAR -->
  <div
    class="sidebar-wrapper"
    [class.show-sidebar]="isSidebarOpen"
    [class.sidebar-collapsed]="isSidebarCollapsed"
  >

    <app-sidebar
      [collapsed]="isSidebarCollapsed"
      (collapsedChange)="isSidebarCollapsed = $event">
    </app-sidebar>

  </div>

  <!-- OVERLAY -->
  <div
    class="overlay"
    *ngIf="isSidebarOpen"
    (click)="isSidebarOpen = false"
  ></div>

  <!-- MAIN -->
  <div class="main">

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

    <app-chatbot *ngIf="!isAdmin"></app-chatbot>

</div>